#!/usr/bin/python
# -*- coding: utf-8 -*-

from ansible.module_utils.openshift_common import OpenShiftAnsibleModule, OpenShiftAnsibleException

DOCUMENTATION = '''
{{ documentation_string }}'''

EXAMPLES = '''
{{ examples_string }}'''

RETURN = '''
{{ return_string }}'''


def main():
    try:
        module = OpenShiftAnsibleModule('{{ kind }}', '{{ api_version }}')
    except OpenShiftAnsibleException as exc:
        # The helper failed to init, so there is no module object. All we can do is raise the error.
        raise Exception(exc.message)

    try:
        module.execute_module()
    except OpenShiftAnsibleException as exc:
        module.fail_json(msg="Module failed!", error=str(exc))


if __name__ == '__main__':
    main()
